{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% load static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block object-tools %}
  {% if change %}{% if not is_popup %}
    <ul class="object-tools custom-action-buttons">
      {% block object-tools-items %}
        {% change_form_object_tools %}
      {% endblock %}
      {% block admin-actions %}
        <li id="register-user">
          <a href="{% url 'users-confirm-register' pk=original.id %}" type="button" class="historylink">Confirm Verification</a>
        </li>
        <li id="resend-verification">
          <a href="{% url 'users-resend-verification' pk=original.id %}" type="button" class="historylink">Resend Verification</a>
        </li>
        <!-- Requested to be hidden in BEA-175 -->
        <!-- <li id="resend-verification">
          <a href="{% url 'users-send-campaign-monitor' pk=original.id %}" type="button" class="historylink">Send To Campaign Monitor</a>
        </li> -->
        <li id="resend-welcome-email">
          <a href="{% url 'users-resend-welcome-email' pk=original.id %}" type="button" class="historylink">Resend Welcome email & Reset to default password</a>
        </li>
        <li id="send-to-connects">
          <a href="{% url 'users-send-to-connects' pk=original.id %}" type="button" class="historylink">Send To Connects</a>
        </li>
        <li id="get-scc-api-logs">
          <a href="{% url 'users-scc-api-logs' pk=original.id %}" type="button" class="historylink">Get SCC API Logs</a>
        </li>
        <li id="get-latest-scc-api-log">
          <a href="{% url 'users-latest-scc-api-log' pk=original.id %}" type="button" class="historylink">Get latest SCC API Log</a>
        </li>
      {% endblock %}
    </ul>
  {% endif %}{% endif %}
{% endblock %}
